.mainCta {
    @apply
    relative
    flex
    items-center
    w-max
    text-[var(--color-white)]
    bg-gradient-to-r
    from-[var(--color-blue)]
    to-[var(--color-dark-blue)]
    px-8
    py-4
    rounded-full
    uppercase
    font-bold
    mt-8
    duration-200
    ease-linear
    will-change-transform
    after:absolute
    after:w-full
    after:h-full
    after:top-0
    after:left-0
    after:z-50;
    box-shadow: 0px 2px 0px 1px var(--color-dark-blue);

    svg {
        @apply
        ml-2
        rotate-[220deg]
        duration-200
        ease-linear
        will-change-transform;
    }

    &:hover {
        @apply scale-105;

        svg {
            @apply
            rotate-[270deg];
        }
    }
}